.dashboard-card {
  min-width: 250px;
  padding: 20px 18px;
  background-color: #6a5acd;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard-card-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.dashboard-card-title {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.dashboard-card-number {
  font-size: 18px;
  letter-spacing: 1.4px;
  font-weight: 500;
}

.dashboard-icon {
  font-size: 48px;
}
